{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" /> -->
    <link rel="icon" href="https://your_website.com/icon.png">
    <title>{% block title %}VAEP Analytics{% endblock %}</title>
    <style>
        body {
          background-image: url('{% static "liverpool2019/anfield-stadium.jpg" %}');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand href = '#" >VAEP</a>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href = '{% url 'home' %}';">Home</a>
               </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/home/">Home</a>	 -->
                        <a class="nav-link" href="{% url 'dash_plot' %}">Dash Plots</a> 
                    </li>
                    <li class="nav-item {% if nbar == 'about' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'liverpool_goals' %}">Liverpool Goals</a> 
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href = '{% url 'login' %}';">login</a>
                    </li>
                {% endif %}   
            </ul>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/logout/">Logout</a> -->
                        <a class="nav-link" href = '{% url 'logout' %}';">logout</a>
                    </li>
                </ul>
            {% endif %}
            
        </div>
    </nav>
        {% block content %}{% endblock %}
</body>
</html>
